* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}


:root {
    --color-white: #ffffff;
    --color-blue: #171a4b;
    --color-red: #df3f42;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-white);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue);
}

header h1 {
    font-family: 'Croissant One', cursive;
    font-size: 5rem;
    padding: 20px;
    color: var(--color-white);
}

header h1:hover {
    letter-spacing: 8px;
    color: var(--color-red);
}

nav {
    display: none;
}

main{
    display: flex;
}

aside {
    width: 20%;
    margin: 50px;
    align-self: flex-start;
    top: 50px;
    position: sticky;
}

.aside-header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 70px;
    height: 70px;
}

aside img {
    width: 100%;
}

aside h3 {
    font-family: 'Croissant One', cursive;
    font-size: 1.9rem;
    padding: 10px;
    margin: 0 auto;
    color: var(--color-blue);
    text-align: center;
}

aside h3:hover {
    color: var(--color-red);
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.social-media img {
    width: 30px;
}

.navigation ul {
    list-style-type: none;
    margin: 20px 0;
}

.navigation li {
    margin: 5px 0;
    text-align: right;
}

.navigation a {
    text-decoration: none;
    color: var(--color-blue);
    opacity: 0.8;
    font-size: 1.5rem;
}

.navigation a:hover {
    color: var(--color-red);
}

.container {
    width: 80%;
}

.content {
    padding: 50px 50px 0px 50px;
}

.content h2 {
    color: var(--color-blue);
    font-family: 'Gloock', serif;
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.content h2:hover {
    color: var(--color-red);
}

.content h3 {
    color: var(--color-blue);
    font-size: 2rem;
    margin-bottom: 5px;
}

.content p {
    color: var(--color-blue);
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.type h2 {
    margin-bottom: 20px;
}

.type p {
    margin-bottom: 10px;
}

footer {
    background-color: var(--color-blue);
    height: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information {
    width: 70%;
    padding: 20px;
}

.nav-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.5rem;
    text-align: center;
}

footer a:hover {
    color: var(--color-blue);
    background-color: var(--color-white);
}

footer p {
    color: var(--color-white);
    margin-top: 20px;
    text-align: center;
}

.sosmed {
    display: none;
}

.slider {
    max-width: 90%;
    margin: 20px auto;
}

.slider h2 {
    font-family: 'Gloock', serif;
    font-size: 3.5rem;
    padding: 10px;
    text-align: center;
    color: var(--color-blue);
}

.slider h2:hover {
    color: var(--color-red);
    letter-spacing: 5px;
}

.slider h2:hover::before, .slider h2:hover::after {
    content: "---";
    color: var(--color-red);
}

.slide-container {
    width: 70%;
    height: 50%;
    margin: 0 auto;
    position: relative;
}

.mySlide img {
    width: 100%;
}

.mySlide {
    display: none;
}

.column img {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    font-size: bold;
    font-size: 40px;
    color: var(--color-white);
    top: 50%;
    padding: 16px;
    margin-top: -50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--color-blue);
    opacity: 0.7;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }

    aside {
        width: 50%;
        margin: 100px auto;
    }

    .container {
        width: 100%;
    }

    .social-media {
        flex-wrap: wrap;
    }

    aside {
        display: none;
    }
    
    nav {
        background-color: var(--color-blue);
        display: flex;
        align-items: center;
        height: 4rem;
        position: sticky;
        top: 0;
        z-index: 3;
    }
    
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    nav a {
        text-decoration: none;
        color: var(--color-white);
        font-size: 1.3rem;
    }

    nav a:hover {
        color: var(--color-red);
    }

    nav a:hover {
        text-decoration: underline;
    }

    footer {
        flex-direction: row;
    }

    .sosmed {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 10px 0px 10px 30px;
    }

    .sosmed-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        width: 40px;
        width: 40px;
    }

    .icon img {
        width: 100%;
    }

    .sosmed-container h4 {
        font-family: 'Croissant One', cursive;;
        color: var(--color-white);
        font-size: 1.5rem;
        padding-left: 5px;
    }

    .sosmed-icon img {
        width: 20px;
    }

    .sosmed-icon {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    footer a {
        font-size: 1rem;
    }

    header h1 {
        font-size: 3rem;
    }

    .content h2 {
        font-size: 2rem;
    }

    .content h3 {
        font-size: 1.6rem;
    }

    .content p {
        font-size: 1.3rem;
    }

    .slider h2 {
        font-size: 2.4rem;
        padding: 8px;
    }

}

@media only screen and (max-width: 480px) {
    nav a {
        font-size: 1rem;
    }

    nav a:hover {
        color: var(--color-red);
    }

    footer a {
        font-size: 0.8rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    .icon {
        width: 25px;
        height: 25px;
    }

    .sosmed {
        padding: 10px 0px 10px 20px;
    }

    .sosmed-container h4 {
        font-size: 1.2rem;
        padding-left: 1px;
    }

    .sosmed-icon img {
        width: 13px;
    }

    .slider h2 {
        font-size: 2rem;
    }
}